[MASTER]

[BASIC]

good-names = fh,_configured,_logger

[DESIGN]

max-args = 6

[FORMAT]

max-line-length = 100

[MESSAGES CONTROL]

disable = missing-docstring, wildcard-import

[REPORTS]
include-ids = yes
