# This is an example envs file. You would put this in the envs/ directory and rename it "dev"
# Make sure to populate the AWS credentials section with your keys
AWS_REGION=us-east-1
AWS_SECRET_ACCESS_KEY=YOUR_SECRET_KEY
AWS_ACCESS_KEY_ID=YOUR_KEY

LAZYSUSAN_SESSION_DYNAMODB_TABLE_NAME=devAgeCalculator
LAZYSUSAN_SESSION_AWS_REGION=us-east-1
LAZYSUSAN_SESSION_STORAGE_BACKEND=dynamodb
LAZYSUSAN_LOG_LEVEL=logging.INFO
